body{
    min-width: 1150px;
    overflow: auto;
}
#index-header-nav{
    font-size: 0px;
}
#blog-lable>a{
    margin: 1px;
}

#loginContainer{
    position:absolute;
    top:20%;
    left:40%;
    width:400px;
    margin:0 auto;
}

#indexContainer{
    position:absolute;
    top:20%;
    left:25%;
    width:700px;
    margin:0 auto;
}