<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>home</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/font/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <script th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
</head>
<body>
    <div id="indexContainer" class="card" sec:authorize="isAuthenticated()">
        <div class="card-header">
            <h1 class="header">Cashless Menu</h1>
        </div>
        <div class="card-body">
            <div class="input-group mb-3">
                <button type="button" class="btn btn-primary w-100" onclick="logout()" >Logout</button>
            </div>

            <div class="input-group mb-3">
                <div  class="input-group-prepend">
                    <span class="input-group-text">トークン：</span>
                </div>
                <textarea style="height:100px;"  class="form-control" disabled id="token_view"></textarea>
            </div>
            <div class="input-group mb-3">
                <button type="button" class="btn btn-success w-100" onclick="checkToken(1)">TokenCheck_Success</button>
            </div>
            <div class="input-group mb-3">
                <button type="button" class="btn btn-danger w-100" onclick="checkToken(2)">TokenCheck_Failure</button>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text w-100" id="tokencheck_result">トークンチェック結果：</label>
            </div>
        </div>
    </div>
</body>
<script>
    $("#token_view").text(localStorage.getItem("token"));
</script>

</html>